<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainColor</key>
	<dict>
		<key>r</key>
		<integer>255</integer>
		<key>g</key>
		<integer>255</integer>
		<key>b</key>
		<integer>255</integer>
	</dict>
	<key>secondColor</key>
	<dict>
		<key>r</key>
		<integer>24</integer>
		<key>g</key>
		<integer>144</integer>
		<key>b</key>
		<integer>188</integer>
	</dict>
	<key>navigationTextColor</key>
	<dict>
		<key>r</key>
		<integer>255</integer>
		<key>g</key>
		<integer>255</integer>
		<key>b</key>
		<integer>255</integer>
	</dict>
	<key>highlightColor</key>
	<dict>
		<key>r</key>
		<integer>33</integer>
		<key>g</key>
		<integer>138</integer>
		<key>b</key>
		<integer>202</integer>
	</dict>
	<key>shadowColor</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>255</integer>
		<key>b</key>
		<integer>255</integer>
	</dict>
	<key>highlightShadowColor</key>
	<dict>
		<key>r</key>
		<integer>200</integer>
		<key>g</key>
		<integer>231</integer>
		<key>b</key>
		<integer>250</integer>
	</dict>
	<key>navigationTextShadowColor</key>
	<dict>
		<key>r</key>
		<integer>255</integer>
		<key>g</key>
		<integer>255</integer>
		<key>b</key>
		<integer>255</integer>
	</dict>
	<key>backgroundColor</key>
	<dict>
		<key>r</key>
		<integer>235</integer>
		<key>g</key>
		<integer>235</integer>
		<key>b</key>
		<integer>241</integer>
	</dict>
	<key>baseTintColor</key>
	<dict>
		<key>r</key>
		<integer>255</integer>
		<key>g</key>
		<integer>255</integer>
		<key>b</key>
		<integer>255</integer>
	</dict>
	<key>tabbarTintColor</key>
	<dict>
		<key>r</key>
		<integer>255</integer>
		<key>g</key>
		<integer>255</integer>
		<key>b</key>
		<integer>255</integer>
	</dict>
	<key>selectedTabbarItemTintColor</key>
	<dict>
		<key>r</key>
		<integer>200</integer>
		<key>g</key>
		<integer>231</integer>
		<key>b</key>
		<integer>250</integer>
	</dict>
	<key>segmentedTintColor</key>
	<dict>
		<key>r</key>
		<integer>200</integer>
		<key>g</key>
		<integer>231</integer>
		<key>b</key>
		<integer>250</integer>
	</dict>
	<key>navigationFont</key>
	<string>Thonburi</string>
	<key>barButtonFont</key>
	<string>Thonburi-Bold</string>
	<key>navigationBackground</key>
	<string>navbar_bg</string>
	<key>barButtonBackground</key>
	<string>barButton</string>
	<key>backBackground</key>
	<string>back-arrow</string>
	<key>toolbarBackground</key>
	<string>navbar_bg</string>
	<key>tableBackground</key>
	<string>aBackground</string>
	<key>tableSectionHeaderBackground</key>
	<string>aBackground</string>
	<key>tableFooterBackground</key>
	<string>list-section-header-bg</string>
	<key>viewBackground</key>
	<string>list-footer-bg</string>
	<key>buttonBackground</key>
	<string>button</string>
	<key>tabBarBackground</key>
	<string>navbar_bg</string>
	<key>tabBarSelectionIndicator</key>
	<string>selected_bg</string>
</dict>
</plist>
