<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>kViewControllerXib</key>
			<string>homeNavVC</string>
			<key>kViewControllerDisplayName</key>
			<string>home</string>
			<key>kViewControllerDisplayImage</key>
			<string>home_icon</string>
			<key>kViewControllerSelectedImage</key>
			<string>home_k_selected</string>
		</dict>
		<dict>
			<key>kViewControllerXib</key>
			<string>mapNavVC</string>
			<key>kViewControllerDisplayName</key>
			<string>map</string>
			<key>kViewControllerDisplayImage</key>
			<string>malls</string>
			<key>kViewControllerSelectedImage</key>
			<string>map_k_selected</string>
		</dict>
		<dict>
			<key>kViewControllerXib</key>
			<string>navPoiSearchViewController</string>
			<key>kViewControllerDisplayName</key>
			<string>locations</string>
			<key>kViewControllerDisplayImage</key>
			<string>compass_k</string>
			<key>kViewControllerSelectedImage</key>
			<string>compass_k_selected</string>
		</dict>
		<dict>
			<key>kViewControllerXib</key>
			<string>categoriesNavVC</string>
			<key>kViewControllerDisplayName</key>
			<string>categories</string>
			<key>kViewControllerDisplayImage</key>
			<string>bot_nav_categories</string>
			<key>kViewControllerSelectedImage</key>
			<string>info_k_selected</string>
		</dict>
		<dict>
			<key>kViewControllerXib</key>
			<string>favoritesNavVC</string>
			<key>kViewControllerDisplayName</key>
			<string>favorites</string>
			<key>kViewControllerDisplayImage</key>
			<string>bot_nav_star</string>
			<key>kViewControllerSelectedImage</key>
			<string>star_k_selected</string>
		</dict>
		<dict>
			<key>kViewControllerXib</key>
			<string>planToLocationsVC</string>
			<key>kViewControllerDisplayName</key>
			<string>plan_trip</string>
			<key>kViewControllerDisplayImage</key>
			<string>plan_trip</string>
			<key>kViewControllerSelectedImage</key>
			<string>plan_m_t_k_selected</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>kViewControllerXib</key>
			<string>settingsVC</string>
			<key>kViewControllerDisplayName</key>
			<string>settings</string>
			<key>kViewControllerDisplayImage</key>
			<string>settings</string>
			<key>kViewControllerSelectedImage</key>
			<string>settings_k_selected</string>
		</dict>
		<dict>
			<key>kViewControllerXib</key>
			<string>aboutViewController</string>
			<key>kViewControllerDisplayName</key>
			<string>about</string>
			<key>kViewControllerDisplayImage</key>
			<string>icon-info</string>
			<key>kViewControllerSelectedImage</key>
			<string>info_k_selected</string>
		</dict>
	</array>
</array>
</plist>
